:root {
	--grey: #a0a0a0;
	--offwhite: rgb(238, 238, 238);
	--shadowcolor: rgba(0, 0, 0, 0.4);
	--boxshadow: 6px 4px 3px var(--shadowcolor);
	--titlefont: 'Bebas Neue', sans-serif;
	--bodyfont: 'Catamaran', sans-serif;
	--seriffont: 'Copse', serif;
}
#page-con {
	background-color: var(--grey);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: var(--bodyfont);
	font-size: clamp(0.75rem, min(0.9vw, 1.3vh), 1rem);
}
#main {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: auto auto;
}
#page-header {
	display: flex;
}
.header-stripe {
	background: linear-gradient(
		black 0%,
		black 33%,
		white 33%,
		white 66%,
		black 66%
	);
	margin: 1rem;
	flex: 1;
	position: relative;
}
.header-stripe:before {
	content: '';
	position: absolute;
	inset: 0 0 0 0;
	border: 4.8em solid red;
	border-color: transparent transparent transparent var(--grey);
}
.header-stripe:last-of-type:before {
	border-color: transparent var(--grey) transparent transparent;
}
#logo {
	font-family: var(--titlefont);
	font-size: 10em;
	text-align: center;
	text-shadow: 5px 4px var(--offwhite);
	width: 4.5em;
}
nav {
	display: flex;
	justify-content: space-evenly;
	margin: 0 1em;
	grid-row: 1/2;
	grid-column: 2/3;
}
nav button {
	font-family: var(--titlefont);
	font-size: 3.5rem;
	border: none;
	width: 4em;
}
button:hover {
	background-color: var(--offwhite);
}
button:not(.btn-active):hover {
	box-shadow: var(--boxshadow);
	background-color: white;
}
.btn-active {
	box-shadow: var(--boxshadow);
	/* background-color: white; */
}
#main-content {
	/* flex: 1; */
	box-shadow: var(--boxshadow);
	display: flex;
	min-height: 60em;
	/* max-width: 90rem; */
	/* height: 100%; */
	background-size: cover;
	background-position: center;
	grid-row: 2/3;
	grid-column: 2/3;
}

/*main homepage*/
.main-homepage {
	background-image: url('../images/homepage.jpg');
	filter: saturate(30%);
}
#fill_con {
	flex: 2;
}
#text_con {
	color: white;
	background: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.9) 70%);
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 3em;
}
h1 {
	font-family: var(--titlefont);
	font-size: 8.5em;
	line-height: 0.9em;
	margin: 0;
}
#text_con p:first-of-type {
	font-family: var(--seriffont);
	font-size: 4em;
	line-height: 0.9em;
}
#text_con p:last-of-type {
	font-family: var(--bodyfont);
	font-weight: 100;
	font-size: 1.5em;
	height: 100%;
	flex: 1;
	display: flex;
	padding-bottom: 1em;
	padding-top: 1em;
	align-items: center;
}

/*main menu*/
.main-menu {
	background-color: #d8d8d8;
	justify-content: space-evenly;
	/* width: 100rem; */
	font-size: clamp(0.75rem, 1.3vh, 1rem);
	padding: 4rem;
	gap: 2em;
}
.menu-side {
	background: linear-gradient(
		90deg,
		black 0%,
		black 33%,
		white 33%,
		white 66%,
		black 66%
	);
	width: 12em;
	position: relative;
}
.menu-side:before {
	content: '';
	position: absolute;
	inset: 0 0 0 0;
	border: 6em solid transparent;
	border-color: transparent transparent #d8d8d8 transparent;
}
#menu-items_con {
	display: flex;
	flex-direction: column;
	gap: 2em;
}
.menu-item {
	background-color: white;
	padding: 1.5em 2em;
	text-align: center;
}
.item-name {
	font-weight: bold;
	font-size: 2.5em;
	line-height: 0.8em;
}
.item-desc {
	font-size: 1.5em;
}

/*about us*/
.aboutus-main {
	background-image: url('../images/aboutus.jpg');
	background-size: cover;
	filter: saturate(50%);
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: inset 0px 0px 100px black;
}
#aboutus-text {
	background-color: rgba(0, 0, 0, 0.7);
	color: var(--offwhite);
	width: 25em;
	font-size: 1.75rem;
	padding: 2rem;
}

/*footer*/
footer {
	margin: 1rem 0;
	font-weight: 400;
	text-align: center;
}
